body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.single-product {
  padding: 10px;
  box-shadow: 4px 4px 7px rgb(42, 214, 214);
  border: 1px solid rgba(218, 223, 210, 0.695);
  margin: 12px;
  width: 310px;
  height: 450px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  transition: 0.6s;
}
.single-product:hover {
  box-shadow: 4px 4px 7px rgb(60, 61, 82);
  border-radius: 10px;
  border: 1px solid cyan;
  background: rgb(238,174,202);
background: radial-gradient(circle, rgb(248, 228, 237) 0%, rgb(226, 239, 255) 100%);
}

.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}